*{
	padding:0;
  margin:0
}
body{
	background: url(http://www.yangqq.com/skin/2017/images/top.jpg) no-repeat center top #075498;
	
	padding:0px 30px
}
#header{
	width:100%;
	height:120px;
	background:rgba(253,255,206,1);
	position:relative;
	margin:auto apx;
	padding-top:20px;
	border-radius:20px

}
#nv-sp{
	color: rgba(255,26,242,0.8);
	position: absolute;
	top: 28px;
	left: 40px;
	display: block;
	font-size: 40px;
}
#resume{
	width:100%;
	
	background: url(http://www.yangqq.com/skin/2017/images/articlebg.png) repeat;
	margin-top:90px;
	padding:18px;
}
#resume-con{
	box-shadow: #075498 0px 1px 10px;
	background: url(http://www.yangqq.com/skin/2017/images/articlebg.png) repeat;
	padding:5px 0;
}
#con-md{
	width:1000px; 
	height:1200px;
	border:1px solid red;
	margin:20px auto;
}
#con-md-img{
	margin:10px auto;
	width:130px; 
	height:auto;
	box-shadow: #075498 0px 1px 5px;
	
}
#con-md-img img{
	width:130px; 
	height:auto;
	

}
#ver-line{
	width:2px;
	height:800px;
	border-left:2px solid red;
	margin:auto;
	position: relative;

}
#line-right{
	width:450px;
	height:240px;
	position: absolute;
	top:20px;
	left:20px;
	border:2px solid red;
	padding:12px;

}
#line-left{
	width:100px;
	line-height:40px;
	position: absolute;
	top:110px;
	text-align:center;

	left:-120px;
	border:2px solid red;

}
#line-left-txt{}
#line-right ul{
	list-style:none;

}

#header img{
	border-radius:30px
}
#header-right{
	position:absolute;
	right:5px;
	top:-5px
}
#text{
	display:inline;
	position:absolute;
	right:130px;
	width:490px;
	text-align:center;
	top:14px
}
#header-left {
	position:absolute;
	top:50%;
	margin-top:-50px

}
#mingyan{
	display:inline;
	width:80px;
	margin-top:20px
}
#list{
	list-style:none;
	padding-top:5px;
	text-align:center;
	line-height:40px;
	background:rgba(216,52,255,0.8);
	border-radius:20px;
	margin-top:5px
}
#list li{
	width:140px;
	height:60px;
	padding-top:5px;
	font-size:16px;
	color:white;
	cursor:pointer;
	transition:1.0s;
	border-radius:20px;
	position:relative
	
}
#list li span{
	position:absolute;
	top:5px;
	right:50px;
	transition:1s;
	opacity:0
	
}
#list li:hover span{
	position:absolute;
	top:30px;
	right:50px;
	opacity:1

}
#list li a{
color:white;

}
#list li:nth-child(1),#list li:hover{
	background:red
}

list li:nth-child(1){
	background:red
}
